$public-font: 'Public Sans';
/*
**************************** COLORS ****************************
*/

$white-color:#ffffff;
$syan-color:#00FFF8;
$text-color:#8BACD9;
$main-color:#131731;
$card-bac-color:#15263F;
$hr-color:#2E405A;



/**************************** FONTS ****************************
*/
$font-weight-regular:400;
$font-weight-semiBold:500;

/**************************** TITTLE****************************
*/

$tittle-middle-size:2.2rem;
$tittle-middle-line:1.26;

$tittle-normal-size:1.6rem;
$tittle-normal-line:1.26;


/**************************** TEXT ****************************
*/

$text-middle-size:1.8rem;
$text-middle-line:1.44;

